/* Logo */
/* Adapted from Zachary Blackwood */
[data-testid="stSidebar"] {
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 4px 20px;
}

/* Card Styling */
/* Card Styling */
.card {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    padding: 15px;
    border-radius: 5px;
    border-left: 0.5rem solid #9AD8E1;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

/* Metric Title Styling */
.metric-title {
    color: #36b9cc;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
}

/* Metric Value Styling */
.metric-value {
    font-size: 24px;
    font-weight: bold;
}

/* Responsive adjustments for small screens */
@media (max-width: 600px) {
  .card {
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 90%; /* Slightly smaller text on small devices */
  }
}


h1 {
font-size: 5px;      /* Adjust the font size as needed */
font-weight: bold;      /* Makes the text bold */
text-align: center;     /* Center aligns the title */
color: #333333;         /* Sets a dark grey color for the title */
margin-bottom: 20px;    /* Adds space below the title */
}

/* Adjust Date Input Width */
div[data-baseweb="datepicker"] {
    width: 50px !important; /* Change to desired width */
}


/* Card */
/* Adapted from https://startbootstrap.com/theme/sb-admin-2 */
div.css-1r6slb0.e1tzin5v2 {
background-color: #FFFFFF;
border: 1px solid #CCCCCC;
padding: 5% 5% 5% 10%;
border-radius: 5px;

border-left: 0.5rem solid #9AD8E1 !important;
box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;

}

label.css-mkogse.e16fv1kl2 {
color: #36b9cc !important;
font-weight: 700 !important;
text-transform: uppercase !important;
}


/* Move block container higher */
div.block-container.css-18e3th9.egzxvld2 {
margin-top: -5em;
}


/* Hide hamburger menu and footer */
div.css-r698ls.e8zbici2 {
display: none;
}

footer.css-ipbk5a.egzxvld4 {
display: none;
}

footer.css-12gp8ed.eknhn3m4 {
display: none;
}

div.vg-tooltip-element {
display: none;
}
